
.data-table-container {
	table {
		background: linear-gradient(45deg, #49a09d, #5f2c82);
		width: 100%;
		border-collapse: collapse;
		overflow: hidden;
		box-shadow: 0 0 20px rgba(0,0,0,0.1);
		border-radius: 5px;
	}
	
	th,
	td {
		padding: 15px;
		background-color: rgba(255,255,255,0.2);
		color: #fff;
		font-size: 13px;
		font-weight: 500;
		text-align: center;
	}
	
	thead {
		th {
			background-color: #3a4eea;
		}
	}
	
	tbody {
		tr {
			&:hover {
				background-color: rgba(255,255,255,0.3);
			}
		}
		td {
			position: relative;
			&:hover {
				&:before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: -9999px;
					bottom: -9999px;
					background-color: rgba(255,255,255,0.2);
					z-index: -1;
				}
			}
		}
}
}